.mainButton {
  width: 50%;
  font-weight: 700;
  background-color: #382bf0;
  margin: 1rem auto;
}

.mainButton:hover {
  background-color: #7a5af5;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
    margin-bottom: 1rem;
  }

  .mainButton {
    width: 70%;
  }
}
