.container {
  min-width: 40%;
  min-height: 60%;
  max-width: 90%;
  background-color: #46424f;
  opacity: 0.95;
  border: 3px solid #382bf0;
  border-radius: 30px;
  padding-bottom: 1rem;
}
.container h1 {
  margin-top: 1.5rem;
}

.mainButton {
  width: 50%;
  font-weight: 700;
  background-color: #382bf0;
  margin: 1rem auto;
}

.mainButton:hover {
  background-color: #7a5af5;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
    margin-bottom: 1rem;
  }

  .mainButton {
    width: 70%;
  }
}
