header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
}

header p {
  font-family: "Poppins";
}

header img {
  margin-left: 1rem;
  height: 3.5rem;
  animation: rotateY-anim 2s linear infinite;
}

@keyframes rotateY-anim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
