.numberPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.numberPicker div {
  width: 80%;
}

#displayNumberOfQuestions {
  font-weight: 700;
  width: 15%;

  margin: auto 0;
  text-align: center;
  font-size: 1.5rem;
}
