footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

footer p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
